body {
    margin: 0;
    font-family: "Roboto Slab", serif;
    background-color: white;
    color: #0a2540;
}

header {
    background: #1e3c72;
    color: white;
    padding: 0.5rem 0.5rem;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1px;
    right: 1px;
}

nav a:hover {
    text-decoration: underline;
}


h1 {
    margin: 0px;
}

#menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.active {
    font-weight: 600;
    text-decoration: overline;
}

h2 {
    color: #2a5298;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

input, textarea {
  padding: 0.8rem;
  border-radius: 8px;
  border: 2px solid black;
}

button[type="submit"] {
  background: #1e3c72;
  color: white;
  padding: 0.8rem;
  border-radius: 8px;
}



footer {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #1e3c72;
    color: white;
    bottom: 1px;
}

@media screen and (max-width: 650px) {

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #1e3c72;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    margin: 1rem 0;
  }

  #menu {
    display: block;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: none;
    color: white;
    border: none;
  }


  #menu::before {
    content: "☰";
  }

  #menu.show::before {
    content: "Ꭓ";
  }

}