body {
    margin: 0;
    font-family: "Alegreya", serif;
    background-color: #f0f6ff;
    color: #0a2540;
}

header {
    background: #1e3c72;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

nav {
    margin-top: 15px;
    }

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2a5298;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e3c72;
    color: white;
    margin-top: 40px;
}