* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.header {
  background: #313131;
  color: white;
}

.header-content {
  padding: 30px;
  font-size: 24px;
}

.nav {
  background: black;
  display: flex;
  justify-content: space-around;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
}

.nav a:hover {
  background: #444;
}

.main-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 480px;
}

.main {
  background: rgb(199, 198, 198);
  padding: 20px;
  font-size: 20px;
}

.aside {
  background: white;
  padding: 20px;
  font-size: 20px;
}

.footer {
  background: #3a3a3a;
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

