* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilex", monospace;
  
}

header {
  margin: 0px;
  padding: 0px;
}

#course-title {
    padding: 10px;
    display: block;
    background-color: rgb(38, 37, 37);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;

}

nav {
  background: rgb(26, 0, 113);
  display: flex;
  padding: 10px;
  justify-content: space-around;
  margin: 0 auto;
}

nav a {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    border-radius: 10px;
    background-color: rgb(25, 13, 65);
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  grid-column: 2 span;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
  width: 80%;
  margin: 0 auto;
}

.card {
  border-radius: 6px;
  border: 1px solid black;
  
}

h2 {
  color: white;
  background-color: rgb(26, 0, 113);
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.my-picture {
  height: 150px;
  width: auto;
  margin-right: 15px;
  float: right;
}

.flag {
  height: auto;
  width: 190px;
}

.personal {
  width: 85%;
}

.card-flag {
  
  width: 35%;
  margin: 1rem;
  padding: 1rem;
  float: left;
}
p {
  margin: 0px;
}

h3 {
  text-align: center;
  margin: 15px;
}

.about-me {
  margin: 0;
  align-items: center;
  height: 180px;
}

.card ul {
  margin-left: 40px;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  display: block;
  background-color: rgb(26, 0, 113);
  color: white;
}