* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



body {
    font-family: 'Lilex', sans-serif;
    background-color: #f4f6f8;
    color: black;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px black;
    flex: 1;
}


a {
    color: #1e3a8a;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1e3a8a;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    text-align: center;
}


@media (min-width: 768px) {

    main {
        max-width: 750px;
        padding: 2rem;
    }

}