* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header, main, footer {
    max-width: 640px;
    border: 0.1px solid black;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(86, 170, 255);
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgb(182, 203, 250);
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
}